<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
</div>
<div="row">
  <div="col-xs-12">
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to user_path(@user) do %>Love　<span class="badge"><%= @count_loves %></span><% end %></li>
      <li class="active"><%= link_to hates_user_path(@user) do %>Hate　<span class="badge"><%= @count_hates %></span><% end %></li>
    </ul>
    <%= render 'animes/animes', animes: @user_hates %>
  </div>
</div>