<div class="anime_detail">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if @anime.image_url.empty? %>
        <img class="img-responsive center-block" src="/images/no_image.png" alt="">
      <% else %>
        <img class="img-responsive center-block" src="<%= @anime.image_url %>" alt="">
      <% end %>
    </div>
    <div class="panel-body">
      <h3 class="anime-title "><%= @anime.title %></h3>
      <p>media : <%= @anime.media %></p>
      <p>season : <%= @anime.season %></p>
      <p>official site : <a href="<%= @anime.url %>"><%= @anime.title %></a></p>
      <div class="rating text-center">主観的に評価してください
        <div class="buttons">
          <%= render "ratings/rating_button", anime: @anime %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="love-users">
            <div class="panel panel-info">
              <div class="panel-heading text-center">
                Loveしたユーザ
              </div>
              <div class="panel-body">
                <% @love_users.each do |user| %>
                  <%= link_to user.name, user_path(user) %> /
                <% end %> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="hate-users">
            <div class="panel panel-info">
              <div class="panel-heading text-center">
                Hateしたユーザ
              </div>
              <div class="panel-body">
                <% @hate_users.each do |user| %>
                  <%= link_to user.name, user_path(user) %> /
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>